@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'typography';

@import 'blockquotes';
@import 'code';

* {
    box-sizing: border-box;
    border: 0 none;
    padding: 0;
}

.hidden {
    display: none !important;
}

html {
    height: 100%;
}

body {
    background-color: $background-color;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}


.title {
    padding: 3em 3em 3em 0;
    color: $font-color;
}

.title p {
    font-style: italic;
}


.header {
    flex: 0 0 auto;
    color: $header-footer-color;
}

.footer {
    flex: 0 0 auto;
    color: $header-footer-color;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $header-footer-color;
    background-color: $background-color;
}

.footer a {
    color: $accent-color;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 2px $border-color;
    background-color: $background-color;
}

.siteheader {
    display: flex;
    justify-content: space-between;
    border: 2px $border-color;
    background-color: $background-color;
}


.logo {
    padding: 3em 3em 3em 0;
}


ol {
    padding-left: 1.5em;
}

ul {
    padding-left: 1.5em;
}

