$font-color: #000;
$font-alternative-color: rgb(65, 28, 28);
$header-footer-color: rgb(220, 145, 156);
$accent-color: hsl(12, 15%, 13%);
$background-color: rgb(232, 205, 209);
$background-alternative-color: #e0fbfc;
$border-color: rgb(36, 25, 25);


$base-line-height: 1.4;
$base-font-size: 1.1em;
$magic-number: $base-line-height * $base-font-size;
